In [ ]:
import pandas as pd
import networkx as nx


def make_nx_graph(df_train, df_test):
    df = pd.concat([df_train, df_test])

    g = nx.Graph()
    g.add_nodes_from(df.qid1)

    edges = list(df[['qid1', 'qid2']].to_records(index=False))
    g.add_edges_from(edges)
    g.remove_edges_from(g.selfloop_edges())
    return g


df_train = pd.read_csv('./train.csv').fillna("")
df_test = pd.read_csv('./df_test_with_qid.csv').fillna("")

g = make_nx_graph(df_train, df_test)

In [3]:
type(g)

networkx.classes.graph.Graph

In [5]:
len(g.nodes())

4789603

In [7]:
df_output = pd.DataFrame(data=g.nodes(), columns=["qid"])

print("df_output.shape:", df_output.shape)

('df_output.shape:', (4789603, 1))

In [9]:
df_output.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>qid</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

In [15]:
NB_CORES = 15

for k in range(2, NB_CORES + 1):
    print k
    
    fieldname = "kcore{}".format(k)

    ck = nx.k_core(g, k=k).nodes()
    df_output[fieldname] = 0

    df_output.ix[df_output.qid.isin(ck), fieldname] = k

2

3

4

5

6

7

8

9

10

11

12

13

14

15

In [20]:
df_output.tail()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>qid</th>
      <th>kcore2</th>
      <th>kcore3</th>
      <th>kcore4</th>
      <th>kcore5</th>
      <th>kcore6</th>
      <th>kcore7</th>
      <th>kcore8</th>
      <th>kcore9</th>
      <th>kcore10</th>
      <th>kcore11</th>
      <th>kcore12</th>
      <th>kcore13</th>
      <th>kcore14</th>
      <th>kcore15</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4789598</th>
      <td>4789599</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4789599</th>
      <td>4789600</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4789600</th>
      <td>4789601</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4789601</th>
      <td>4789602</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4789602</th>
      <td>4789603</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
df_output.to_csv("question_kcores.csv", index=None)

In [22]:
def run_kcore_max():
    
    df_cores = pd.read_csv("question_kcores.csv", index_col="qid")
    df_cores.index.names = ["qid"]
    df_cores['max_kcore'] = df_cores.apply(lambda row: max(row), axis=1)
    df_cores[['max_kcore']].to_csv("question_max_kcores.csv") # with index

run_kcore_max()

In [24]:
df_cores.head()

NameError: name 'df_cores' is not defined